<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- ++++++++++++++++++++++++++++++++ juchao dao start ++++++++++++++++++++++++++++++++ -->
    <bean id="iTbJuchaoTestSDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.csf.cloud.dao.juchao.ITbJuchaoTestSDao"/>
        <property name="sqlSessionFactory" ref="sessionFactory_juchao"></property>
    </bean>

    <bean id="tbJuchaoTestSDao" class="com.csf.cloud.dao.juchao.TbJuchaoTestSDao"/>


    <!-- mongo dao-->
    <bean id="dogDao" class="com.csf.cloud.dao.mongo.DogDao">
        <constructor-arg ref="mongo_stest"/>
        <constructor-arg ref="morphia"/>
        <constructor-arg value="testdb"/>
    </bean>
</beans>
