<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">

    <context:component-scan base-package="com.csf.cloud"/>

    <bean class="com.csf.cloud.util.PropertyConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/common-mongodb.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <util:properties id="mongo_prop" location="classpath:/common-mongodb.properties"/>

    <bean id="juchaocontext" class="com.aug3.storage.dbclient.Context">
        <property name="dbKey" value="juchao"/>
        <property name="dbType" value="ORACLE">
        </property>
    </bean>

    <bean id="datasourceFactory" class="com.aug3.storage.dbclient.DataSourceFactory"/>

    <bean id="juchaoDataSource" factory-bean="datasourceFactory" factory-method="getDataSource">
        <constructor-arg ref="juchaocontext"/>
    </bean>

    <bean id="sessionFactory_juchao" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis/juchao/SqlMapperConfig_juchao.xml"/>
        <property name="dataSource" ref="juchaoDataSource"/>
    </bean>


    <!-- mongo factory -->
    <bean id="mongoFactory_stest" class="com.aug3.storage.mongoclient.MongoFactory">
        <constructor-arg value="stest"/>
    </bean>

    <!-- mongo -->
    <bean id="mongo_stest" factory-bean="mongoFactory_stest" factory-method="newMongoInstance"/>


    <bean id="morphia" class="org.mongodb.morphia.Morphia"/>

    <bean id="dataStore_stest" class="com.csf.cloud.ds.mongo.MongoDatastore">
        <constructor-arg ref="morphia"></constructor-arg>
        <constructor-arg ref="mongo_stest"></constructor-arg>
        <constructor-arg value="testdb"></constructor-arg>
    </bean>

</beans>
